<footer class="card-footer bg-dark text-white">
    <p class="text-white">
        <a href="https://github.com/joaohb07" class="text-reset text-decoration-none">
            <b>Created by joaohb07</b>
        </a>
    </p>
</footer>